@model TH8_LamLai.Models.tblEmployee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Bạn muốn xoá?</h3>
<div>
    <h4>tblEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblDept.deptname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDept.deptname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.image)*@
            @{
                var path = "~/Images/" + Model.image;
                <img src="@Url.Content(path)" width="150px" />
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
