@*@model DE03_DeMau.Models.Student*@

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    List<DE03_DeMau.Models.Student> li1 = ViewBag.li1;
    List<DE03_DeMau.Models.Student> li2 = ViewBag.li2;
}

<style>
    th, td{
        width: 100px;
    }
</style>

<h2>Display List Student</h2>
<table border="1">
    <thead>
        <tr>
            <th>Mã SV</th>
            <th>Tên SV</th>
            <th>Tuổi</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in li1)
        {
            <tr>
                <td>@item.MaSV</td>
                <td>@item.TenSV</td>
                <td>@item.Tuoi</td>
                <td>@item.DiaChi</td>
            </tr>
        }
    </tbody>
</table>

<h2>Display List Student</h2>
<table border="1">
    <thead>
        <tr>
            <th>Mã SV</th>
            <th>Tên SV</th>
            <th>Tuổi</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in li2)
        {
            <tr>
                <td>@item.MaSV</td>
                <td>@item.TenSV</td>
                <td>@item.Tuoi</td>
                <td>@item.DiaChi</td>
            </tr>
        }
    </tbody>
</table>

